<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated TSHS_Ecore -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="TSHS_Ecore.presentation.TSHS_EcoreModelWizardID"
            name="%_UI_TSHS_EcoreModelWizard_label"
            class="TSHS_Ecore.presentation.TSHS_EcoreModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TSHS_EcoreModelFile.gif">
         <description>%_UI_TSHS_EcoreModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated TSHS_Ecore -->
      <editor
            id="TSHS_Ecore.presentation.TSHS_EcoreEditorID"
            name="%_UI_TSHS_EcoreEditor_label"
            icon="icons/full/obj16/TSHS_EcoreModelFile.gif"
            extensions="tshs_ecore"
            class="TSHS_Ecore.presentation.TSHS_EcoreEditor"
            contributorClass="TSHS_Ecore.presentation.TSHS_EcoreActionBarContributor">
      </editor>
   </extension>

</plugin>
